/* ==============================================================
CUSTOM CSS

Add all your Custom Styled CSS here for New Styles or
Overwriting Default Theme Styles for Better Hanlding Updates
==============================================================   */

.mission-li{
  font-size:22px;
  font-weight: 300;
  font-family: Roboto ;
  /* display: list-item */
}

.mission-li li {
  display: list-item
}

.ic{
  font-size:14px;
}

.side-img img{
  margin-left: 12%;
} 
.fa {
  color:#00aeef;
}


.services > h3:hover, .services > h3:focus {
  background-color: #EF92A5;
  text-decoration: none;
}

.mybtn{
  background:none;
  
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
/* 
.footer > img{
  border:solid;
  border-color:#00aeef
} */

.service-title{
  text-align:center;
  font-size:40px;
  
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 70%;
  margin: 20px auto;
  list-style-type: circle ;
  font-weight: 400 ; 
  text-align: justify ;
}

@media only screen and (max-width: 600px) {
  .white-popup {
    max-width : 500px;
    font-size: 13px
  } 
  
  .mission-li{
    font-size:18px;
  }
  
  
  
  
}

@media only screen and (max-width: 768px) {
  .testimonial-slider-v2 .slides .info {
    margin-top : 50px;
  } 

  .mission-li{
    font-size:16px;
    padding-left : 15px ;
  }
}



.white-popup  li {
  display: list-item;
  margin-left: 15px ;
  text-align: justify ;
  font-weight: 300
}

.white-popup p {
  font-family : Montserrat, sans-serif;
}


#header .logos img {
  padding : 10px;
}

#header.sticky-header .main-nav>ul>li>a{
  line-height: 8;
}

.modal-close {
  color: orange 
}

.modal-close:hover {
  color : red;
}