/* ==============================================================
CUSTOM CSS

Add all your Custom Styled CSS here for New Styles or
Overwriting Default Theme Styles for Better Hanlding Updates
==============================================================   */

.mission-li{
  font-size:24px;
}
.ic{
  font-size:14px;
}

.side-img img{
  margin-left: 12%;
} 
.fa {
  color:#00aeef;
}


.services > h3:hover, .services > h3:focus {
  background-color: #EF92A5;
  text-decoration: none;
}

.mybtn{
  background:none;
  
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
/* 
.footer > img{
  border:solid;
  border-color:#00aeef
} */

.service-title{
  text-align:center;
  font-size:40px;
  
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 70%;
  margin: 20px auto;
  list-style-type: circle ;
}

@media only screen and (max-width: 600px) {
    .white-popup {
        max-width : 500px;
    }
}


.white-popup  li {
  display: list-item;
  margin-left: 15px ;
  text-align: justify
}

#header .logos img {
  padding : 10px;
}

#header.sticky-header .main-nav>ul>li>a{
  line-height: 8;
}

.modal-close {
  color: orange 
}

.modal-close:hover {
  color : red;
}